@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {

    --primary-color: #10B981;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}


body {

    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.container {

    padding: 0rem 1rem;
}

.container-center {

    max-width: 600px;
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.link {

    text-decoration: none;
    padding: 0rem 1rem;
    color: white;
}

.link-primary {

    background-color: var(--primary-color) ;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {

    color: var(--primary-color);
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 0.5rem;

}

.link-active {

    font-weight: bold;

}


hr {

    margin: 2rem 0rem;
}

.list-non-bullet {

    list-style: none;
}

.list-item-inline {

    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {

    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding: 1rem;
    color: white;
}

.nav-brand {

    font-size: 1.2rem;
    font-weight: bold;
    font-size: x-large;
}

.nav-pills {

    text-align: right;
    font-size: large;
}



/* .hero {

    padding: 2rem;
    text-align: center;

} */

.header-img {

    max-width: 350px;
    margin: auto;
    display: block;
    padding-top: 3rem;
    
}

.hero-heading {

    text-align: center;
    color: var(--dark-gray);
        
}

.heading-inverted {

    color: var(--primary-color);
}

section {

    padding: 1rem;
}

section h1 {

    text-align: center;
}

section h2 {

    font-size: 2rem;
}

.ow {

    background-color: var(--off-white);
}

.footer {

    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}

.footer ul {

    padding-inline-start: 0px;
}

.footer-header {

    font-size: large;
    font-weight: bold;
    
}

.projects-img {

    max-width: 300px;
    margin: auto;
    display: block;
    padding-top: 3rem;
    text-align: center;
    
}

.projects-heading {

    text-align: center;
    color: var(--dark-gray);
    padding-top: 2rem;
        
}

.blogs-img {

    max-width: 250px;
    margin: auto;
    display: block;
    padding-top: 3rem;
    text-align: center;
    
}

.blogs-heading {

    text-align: center;
    color: var(--dark-gray);
    padding-top: 2rem;
        
}
